h1,
h2,
h3,
h4,
p,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p,
li {
  font-size: 18px;
}

h1 {
  font-size: 30px;

  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  border-top: 5px solid #ba8602;
  border-bottom: 5px solid #ba8602;
  box-sizing: border-box;
  padding: 2px 20px;
  margin: 10px;
}

.nav {
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  background-color: #eec04b;
  border-right: 5px solid #ba8602;
  border-left: 5px solid #ba8602;
  box-sizing: border-box;
  padding: 2px 20px;
  margin: 10px;
}

.box {
  background-color: #e9ab0d;
  width: 100%;
  max-width: 900px;
  border: 10px solid #735403;
  border-top: 1px solid #735403;
  border-left: 1px solid #735403;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2px 40px;
  margin: 10px;
}

.subtopic {
  background-color: #e9ab0d;
  width: 100%;
  max-width: 900px;
  border: 10px solid #735403;
  border-top: 1px solid #735403;
  border-left: 1px solid #735403;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2px 40px;
  margin: 10px;
}

.footer {
  border: 3px dashed #735403;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2px 40px;
  margin: 30px;
  width: 100%;
  max-width: 600px;
}

body {
  background-color: #ffcf57;
}

.image {
  display: block;
  margin: auto;
  border-radius: 20px;
}

.Mahsa {
  border-radius: 20px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: dotted;
  padding: 7px;
}

a:active {
  transition: 3000ms;
}
